@model OgrenciNotMvc.Models.EntityFramework.TBLKLUPLER

@{
    ViewBag.Title = "KlupGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Klupler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.KlupAd)
        @Html.TextBoxFor(m => m.KlupAd, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.KlupID)
    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>

    </div>
}
